body {
	background-color: black;
	color: white;
	background: linear-gradient(
		to right,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 14%,
		rgba(61, 59, 61, 1) 50%,
		rgba(0, 0, 0, 1) 86%,
		rgba(0, 0, 0, 1) 100%
	);
}

a {
	color: white;
	text-decoration: none;
}

.header-container__demo {
	transition-duration: 0.4s;
	border: 2px solid red;
	padding: 5px 35px 7px;
	margin-right: 5px;
	border-radius: 5px;
	line-height: 22px;
	font-size: 14px;
	color: red;
	background-color: rgb(20, 20, 20);
}

.header-container__demo:hover {
	background-color: red;
	border: 2px solid black;
	color: black;
}

#logout {
	transition-duration: 0.4s;
	border: 2px solid red;
	padding: 5px 35px 7px;
	border-radius: 5px;
	line-height: 22px;
	font-size: 14px;
	color: red;
	background-color: rgb(134, 0, 0);
}

#logout:hover {
	background-color: red;
	border: 2px solid black;
	color: black;
}

.header-container__login:hover {
	background-color: red;
	border: 2px solid black;
	color: black;
}

button > a {
	text-decoration: none;
	color: black;
}

.header-container {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	margin: 0px 60px 0px 60px;
}

.body-container {
	display: grid;
	grid-template-rows: 120px 60px 40px 40px; /* add more rows here*/
	padding-top: 100px;
	padding-bottom: 30px;
	max-width: 100%;
}

.body-container__title {
	grid-row-start: 1;
	text-align: center;
	margin-bottom: 0px;
	font-size: 4em;
}

.body-container__signup-form {
	display: grid;
	grid-template-rows: 40px 40px;
	justify-content: center;
	padding-top: 250px;
}

h2#sign-in {
	display: flex;
	justify-content: center;
	font-weight: bold;
	padding-bottom: 20px;
	padding-top: 50px;
}

.body-container__login-form {
	display: grid;
	grid-template-rows: 40px 40px;
	justify-content: center;
	padding-top: 1px;
	padding-bottom: 80px;
}

.logo {
	margin: 35px 0px 0px 25px;
}

.login-card {
	box-shadow: 0 4px 10px 5px rgba(83, 0, 0, 0.5);
	transition: 0.3s;
	background: linear-gradient(
		to right,
		rgb(22, 22, 22) 0%,
		rgba(0, 0, 0, 1) 14%,
		rgba(0, 0, 0, 1) 50%,
		rgba(0, 0, 0, 1) 86%,
		rgba(22, 22, 22) 100%
	);
	padding-bottom: 50px;
	margin-top: 100px;
	margin-right: 700px;
	margin-left: 700px;
}

.body-container__signup-message {
	font-size: 2em;
	text-align: center;
}

.body-container__try-it-now {
	border: 2px solid red;
	padding: 5px 35px 7px;
	border-radius: 5px;
	line-height: 18px;
	font-size: 18px;
	transition-duration: 0.4s;
	background: linear-gradient(
		to right,
		rgb(29, 29, 29) 0%,
		rgb(41, 41, 41) 14%,
		rgba(61, 59, 61, 1) 50%,
		rgb(41, 41, 41) 86%,
		rgb(29, 29, 29) 100%
	);
	font-weight: bold;
	color: black;
}

.body-container__try-it-now:hover {
	background: red;
}

.form-container {
	padding-top: 80px;
	grid-row-start: 3;
	display: flex;
	justify-content: center;
}

form > p {
	text-align: center;
	font-weight: bold;
}

.body-container__sign-up {
	margin-top: 10px;
	margin-left: 40px;
	margin-right: 40px;
	transition-duration: 0.4s;
	border: 2px solid red;
	padding: 5px 35px 7px;
	border-radius: 5px;
	line-height: 22px;
	font-size: 14px;
	color: red;
	font-weight: bold;
	background-color: rgb(20, 20, 20);
}

.body-container__sign-up:hover {
	background-color: red;
	border: 2px solid black;
	color: black;
	font-weight: bold;
}

input {
	justify-self: center;
	margin-top: 5px;
	background-image: '';
	line-height: 34px;
	width: 350px;
	margin-right: 5px;
	color: black;
}

div > p {
	text-align: center;
	font-size: 1.5rem;
}

.footer-container {
	display: flex;
	justify-content: center;
	display: grid;
	grid-template-rows: 60px 40px 40px;
	padding-top: 250px;
}

a.footer-link-git {
	text-align: center;
	text-decoration: none;
	padding-top: 20px;
}
a.footer-link-linkedIn {
	text-align: center;
	text-decoration: none;
	padding-top: 20px;
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	padding: 0px, 10px;
	padding-bottom: 220px;
}

.navbar-container__left-links {
	padding: 10px;
	padding-left: 60px;
}

.navbar-container__left-links span {
	padding: 10px;
	padding-right: 30px;
}

.navbar-container__right-search-profile {
	padding-top: 15px;
	padding-right: 60px;
}

.navbar-container__search {
	padding-right: 10px;
}

.navbar-container__navs {
	padding-right: 10px;
}

img.playlist-container__box {
	height: 500px;
	width: 100px;
}

.active {
	font-weight: bold;
}

.playlist-container {
	display: flex;
	padding-left: 50px;
	justify-content: center;
}

.playlist-video {
	flex: 0 0 19.7%;
	text-align: center;
	object-fit: cover;
	margin: 0 2px;
	transition: transform 300ms ease 100ms;
}

.category-title {
	position: absolute;
	padding-left: 80px;
	padding-top: 20px;
	padding-bottom: 120px;
	top: 80px;
}

h3 {
	padding-left: 80px;
	margin: 0px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.bottom {
	margin-top: 100px;
}

button {
	color: black;
}

button#demo-button {
	margin-top: 50px;
}

div#login-card {
	padding-bottom: 5px;
}

.button-slider {
	display: flex;
	justify-content: space-between;
}

.button-left {
	margin-left: 40px;
	transition-duration: 0.4s;
	border: 2px solid red;
	padding: 5px 20px 7px;
	border-radius: 5px;
	line-height: 10px;
	font-size: 14px;
	color: red;
	font-weight: bold;
	background-color: rgb(20, 20, 20);
	opacity: 0.1;
}
.button-left:hover {
	opacity: 1;
}

.button-right {
	margin-right: 40px;
	transition-duration: 0.4s;
	border: 2px solid red;
	padding: 5px 20px 7px;
	border-radius: 5px;
	line-height: 10px;
	font-size: 14px;
	color: red;
	font-weight: bold;
	background-color: rgb(20, 20, 20);
	opacity: 0.1;
}
.button-right:hover {
	opacity: 1;
}

.playlist-video-container {
	display: flex;
	padding-top: 15px;
	padding-left: 50px;
}

.playlist-video-container__video:hover {
	transform: scale(1.2) !important;
	transition: transform 300ms ease 100ms;
}
.playlist-video-container__video {
	display: flex;
	justify-content: center;
}
