/* TODO Add site wide styles */
.header-container {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	margin: 0px 60px 0px 60px;
}

.body-container {
	display: flex;
	justify-content: center;
	align-items: center;
	display: grid;
	grid-template-rows: 1.5fr 1fr;
	padding-top: 140px;
}

.body-container__title {
	padding-bottom: 15px;
}

.body-container__signup-message {
	text-align: center;
}

.body-container__signup-form {
	text-align: center;
}

.footer-container {
	display: flex;
	justify-content: center;
	display: grid;
	padding-top: 30px;
}

.footer-container__buttons {
	padding: 10px, 0px;
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	padding: 0px, 10px;
}

.navbar-container__left-links {
	padding: 10px;
	padding-left: 60px;
}

.navbar-container__left-links span {
	padding: 10px;
	padding-right: 40px;
}

.navbar-container__right-search-profile {
	padding-top: 15px;
	padding-right: 60px;
}

.navbar-container__search {
	padding-right: 10px;
}

.navbar-container__navs {
	padding-right: 10px;
}

.playlist-container {
	padding-left: 75px;
	padding-top: 50px;
}

img.playlist-container__box {
	height: 500px;
	width: 100px;
}

div.playlist-container div {
	overflow: auto;
	display: inline-block;
	color: blue;
	padding-right: 5px;
}

.active {
	font-weight: bold;
}

.playlist-container__video {
	border: 1px solid black;
	margin-right: 10px;
}

.category-title {
	padding-left: 80px;
	padding-top: 20px;
}
